* {
  font-size: 40px;
  font-family: "Pacifico", cursive;
  text-align: center;
  background: whitesmoke;
}

body {
  margin: auto;
  width: 90vw;
}

#game div {
  border: 1px solid none;
  width: 15vw;
  height: 3em;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  background: lightgray;
  transform: scale(0.9); /* Animation */
  transition: transform 0.2s;
  perspective: 1000px;
  backface-visibility: hidden;
}

#game div:hover {
  transform: scale(1);
}

button {
  font-family: "Bakbak One", cursive;
  font-size: 0.6em;
  color: rgb(59, 47, 167);
  padding: 0.3em;
  border: 2px solid rgb(59, 47, 167);
  border-radius: 16px;
}

button:hover {
  background: rgb(59, 47, 167);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#restartGame {
  display: none;
  transform: scale(0.6);
}
